{% extends 'base.html.twig' %}

{% block title %}New Base{% endblock %}

{% block body %}
    <h1>Create new Base</h1>

    {{ include('base/_form.html.twig') }}

    <a href="{{ path('base_index') }}">back to list</a>
{% endblock %}
