{% extends 'base.html.twig' %}

{% block title %}Edit MEMO{% endblock %}

{% block body %}
    <h1>Edit MEMO</h1>

    {{ include('m_e_m_o/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('m_e_m_o_index') }}">back to list</a>

    {{ include('m_e_m_o/_delete_form.html.twig') }}
{% endblock %}
