{% extends 'base.html.twig' %}

{% block title %}Edit Btw{% endblock %}

{% block body %}
    <h1>Edit Btw</h1>

    {{ include('btw/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('btw_index') }}">back to list</a>

    {{ include('btw/_delete_form.html.twig') }}
{% endblock %}
