{% extends 'base.html.twig' %}

{% block title %}New Btw{% endblock %}

{% block body %}
    <h1>Create new Btw</h1>

    {{ include('btw/_form.html.twig') }}

    <a href="{{ path('btw_index') }}">back to list</a>
{% endblock %}
